@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">

</style>

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<h1>Test</h1>
<table id="grid" class="table table-bordered table-hover"></table>
<div id="pager"></div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            jQuery("#grid").jqGrid({
                data: [
                    { id: "1", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
                    { id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
                    { id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
                ],
                datatype: "local",title:"false",
                colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
                colModel: [
                    { name: 'id', index: 'id', width: 60, sorttype: "int" },
                    { name: 'invdate', index: 'invdate', width: 90, sorttype: "date",align:"center" },
                    { name: 'name', index: 'name', width: 100 },
                    { name: 'amount', index: 'amount', width: 80, align: "right", sorttype: "float" },
                    { name: 'tax', index: 'tax', width: 80, align: "right", sorttype: "float" },
                    { name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },
                    { name: 'note', index: 'note', width: 150, sortable: false }],
                multiselect: true,
                //caption: "Manipulating Array Data",
                pager: 'pager',
                height:'auto'
            });
            jQuery("#grid").jqGrid('navGrid', '#pager', {
                edit: true, add: true, del: true, search: true, view: true
            }, {}, {}, {}, {}, {});

            //$(".jqgfirstrow").css('display','none');
        });
    </script>
}
